@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
	--font-heading: 'Manrope', sans-serif;
	--font-sans: 'Inter', sans-serif;
	--color-primary: #1d4ed8;
	--color-primary-hover: #1e40af;
	--color-primary-light: #dbeafe;
	--color-primary-text: #E5E7EB;
	--color-secondary-text: #9CA3AF;
	--color-accent: #06b6d4;
	--color-accent-light: #cffafe;
	--color-bg: #0b1220;
	--color-surface: #111827;
	--color-border: #1f2937;
	--color-success: '#10B981';
	--color-warning: '#F59E0B';
	--color-danger: '#EF4444';
}

body {
	@apply text-gray-200 bg-bg font-sans;
}